/* Christopher Z  11/15/2020 */

body {
	text-align: center; 
	background-color: #38789E; 
	color: #E8E8E8; 
	font-family: consolas, monospace; 
	padding-right: 10%;
	padding-left: 10%;
}
h1 {
	font-size: 3em;
	font-family: Georgia, sans-serif;
	margin: 0;
	margin-top: .3em;
}
h4 {
	margin: 0;
	padding-left: 15em;
}
.shadow {
	text-shadow: .2em .2em #000000;
}
.mobile {
	font-size: 0em;
}

nav ul {
	font-weight: bold;
	padding: 0;
}
footer ul {
	font-weight: bold;
	padding: 0;
}

@media only screen and (max-width:828px) {
	.homeimg {
		padding-left: 13em;
	}
}

@media only screen and (max-width:481px) {
	h4 {
		padding-left: 0em;
	}
	nav ul {
		font-size: 0;
		padding: 1em;
	}
	footer ul {
		font-size: 0;
		padding: 1em;
	}
	.mobile {
		font-size: 1em;
		text-align: left;
	}

}

a {
	color: #EEEEEE; 
	text-decoration:none; 
}
li {
	display: inline;
	list-style-type: none;
}
li a:hover,div a:hover {
	color: #11CC66;
}

#main {
	text-align: left;
}
img {
	float: right;
	max-width:100%;
    	height:auto;
	padding-left: 1em;
	
}
tr td img {
	padding-left: 0em;
}

.inv {
	float: none;
	display: block;
  	margin: auto;
}
.pinv {
	float: right;

}


video {
	float: right;
	max-width:100%;
    	height:auto;
	padding-left: 1em;

}


::-webkit-scrollbar {
  display: none;
}
